
.pukkel-foto {
    width:20%;
    height: 20%;
}
.rock-foto {
    width:20%;
    height: 20%;
}
.Tomorrowland-foto {
    width:20%;
    height: 20%;
}
.Graspop-foto{
    width:20%;
    height: 20%;
}
.Bastionfestival-foto {
    width:20%;
    height: 20%;
}